:root {
    --colorPrincipal: #000814;
    --colorPalette2: #001d3d;
    --colorPalette3: #003566;
    --colorPalette4: #ffc300;
    --colorPalette5: #ffd60a;

    --colorGradient1: #2d3d4c;
    --colorGradient2: #545a72;
    --colorGradient3: #837895;

    --colorBoton: #fff;
    --colorBotonReal: #F28123;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--colorPalette4);
}

.header {
  width: 100vw;
  height: 6rem;
  background-color: var(--colorPrincipal);
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.menu__mobile {
  stroke: var(--colorPalette5);
  height: 30px;
  z-index: 4;
  display: block;
  cursor: pointer;
  margin: 5px 30px 0 0;
}

.menu-hide{
  display: none;
}

.header__nav {
  position: absolute;
  right: 0vw;
  background-color: var(--colorPrincipal);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 40px;  
  font-size: 2.7rem;
  border-radius: 0 0 60px 60px;
  z-index: 3;
  width: 100vw;  
}

.nav-hide {
  display: none;
}

/* .header__nav li {
  padding-bottom: 30px;
} */

.header__nav a {
  color: var(--colorPalette5);
  text-decoration: none;
  padding-bottom: 30px;
}

.header__nav a:hover{
  color:var(--colorGradient3);
  text-decoration: underline;
}

.navMin {
  display: flex;
  font-size: 2.7rem;
  list-style: none;
  margin-top: 2;
}

.navMin a {
  color: var(--colorPalette5);
  text-decoration: none;
  padding-bottom: 30px;
  margin-top: 10px;
}

.navMin a:hover{
  color:var(--colorGradient3);
  text-decoration: underline;
}

.navMin li {
  padding: 15px 30px 0;
}

.main {
  min-height: 120rem;
  background: linear-gradient(var(--colorPrincipal),var(--colorGradient1));
  margin-top: 6rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__intro {
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 315px;
  min-height: 300px;
  background-image: url("https://github-personal-dvn.s3.us-east-2.amazonaws.com/img/engranes.gif"); */
}

.main__intro h1, h2{
  margin: 2rem 0;
}

.main__intro__img{
  height: 400px;
  opacity: 0.5;
}

.main__container__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 100px;
  min-width: 320px;
}

.main__redes__img {
  width: 40px;
  border-radius: 200px;
  padding: 7px;
  background-color: var(--colorGradient1);
}

.main__redes__img:hover {
  transform: scale(1.9);
  padding: 4px;
  background: none;
}

.main__iam {
  background: var(--colorGradient1);
}

/* Botones con efectos */
.button-effect {
  padding: 30px 0px
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--colorBoton);
  text-transform: capitalize;
  background-color: var(--colorPrincipal);
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--colorBotonReal);
}

.effect.effect-5 {
  transition: all 0.2s linear 0s;
}

.effect.effect-5::before {
  content: "\f054";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(var(--colorBoton),0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0,1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.effect.effect-5::content {

}

.effect.effect-5:hover {
  text-indent: 30px
}

.effect.effect-5::before {
  transform: scale(1,1);
  text-indent: 0;
}
/* FIN Botones con efectos */

.main__portafolio {

}

/* CSS para sitio temporal en construcción */
.containerTemporal{
  margin: 30px 0;

}

.temporal-image{
  background-color: var(--colorPalette3);
  opacity: 0.8;
  border-radius: 50px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.temporal-image p {
  font-size: 2.8rem;
  padding: 40px 25px;
}

.temporal-image img {
  max-width: 315px;
  
}

.temporal-image a {
  color: var(--colorPalette5);
  text-decoration: none;  
}

.temporal-image a:hover {
  text-decoration: underline;
  color: var(--colorBotonReal);
}

.temporal-image a:visited {
  text-decoration: underline;
  color: var(--colorBotonReal);
}

.footer {
  height: 6rem;
  margin-top: auto;
  background: var(--colorGradient1);
}

.footer > div {
  font-size: 1.5rem;
}


@media (min-width: 530px){
  .con {
    display: none;
  }

}



