header {
    grid-area: header;
    width: 100vw;
    min-height: 100px;
    background: linear-gradient(var(--mainColor1), var(--background));
    position: fixed;
    display: flex;
    flex-direction: column;
    color: var(--textColor1);
    z-index: 5;
}

@media (min-width: 860px) {
    header {
        height: auto;
    }
}