.section__Iam {
    color: var(--textColor2);
    font-size: 1.9rem;
    font-family: monospace;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 140px 1fr;
    line-height: 1.2;
    word-spacing: 0.2em;
    width: 100vw;
}

.section__Iam img {
    border-radius: 7em;
    height: 150px;
    position: fixed;
    margin-left: 10px;
}

.container__Iam {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 160px);
}

.container__Iam--span {
    font-weight: bold;
}

.container__Iam p {
    margin: 10px 0;
    padding: 5px;
    text-align: justify;
}