.section__skills {
    color: var(--mainColor1);
    font-size: 1.6rem;
    background: url(https://github-personal-dvn.s3.us-east-2.amazonaws.com/img/unsplash_03.jpg);
    background-size: 100vw;
    background-attachment: fixed;
}

.section__skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__skills li {
    list-style: none;
    font-size: 2rem;
    padding: 25px;
    margin: 15px 0;
}