.section__skills {
    color: var(--secondaryColor2);
    font-size: 1.6rem;
    background-color: var(--background);
    max-width: 1330px;
    padding: 0 1em;
    margin: 0 auto;
}

.section__skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section__skills li {
    list-style: none;
    font-size: 2rem;
    padding: 25px;
    margin: 15px 0;
    align-content: flex-end;
    text-align: center;
}

.section__skills p {
    padding: 4px;
}

.skills__img li img{
    background: var(--secondaryColor3);
    border-radius: 1em;
    padding: 8px;
    width: 120px;
}