.section__skills {
    color: var(--textColor1);
    font-size: 1.6rem;
    background: url(https://github-personal-dvn.s3.us-east-2.amazonaws.com/img/unsplash_03.jpg);
    background-size: 100vw;
    background-attachment: fixed;
}

.section__skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section__skills li {
    list-style: none;
    font-size: 2rem;
    padding: 25px;
    margin: 15px 0;
    align-content: flex-end;
    text-align: center;
}

.section__skills p {
    background: var(--mainColor2);
    border-radius: 5em;
    padding: 4px;
}

.skills__img li img{
    width: 120px;
    padding: 5px;
}