* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Homenaje', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

:root {
  --background: #1F1D1D;
  --textColor1: #FFFFFF;
  --textColor2: #B1D2F4;
  --mainColor1: #00DBE4;
  --mainColor2: #522EE6;
  --secondaryColor1: #D76325;
  --secondaryColor2: #FBD104;
  --secondaryColor3: #0586FC;
  --secondaryColor4: #D405D0;

  font-family: 'Homenaje', sans-serif;
}

main {
  grid-area: main;
  background-color: var(--background);
  padding-top: 75px;
  height: 100%;
  width: 100vw;
}

.page {
  color: var(--secondaryColor4);
  text-align: center;
  font-size: 2.8rem;
}

@media (min-width: 721px) and (max-width: 980px) {
  main {
    padding-top: 157px;
  }

  .page {
    display: none;
  }
}

@media (min-width: 981px) {
  main {
    padding-top: 116px;
  }

  .page {
    display: none;
  }
}